$cell-size: 12px;

.grid-row {
  @extend .clearfix;
  margin: 0;
  padding: 0;
}

.grid-cell {
  width: $cell-size;
  height: $cell-size;
  border: {
    width: 1px;
    style: solid;
    color: rgb(0,0,0);
  }
  margin: 0;
  display: block;
  float: left;
}

.grid-cell-alive {
  background-color: green;
}
.grid-cell-dead {
  background-color: lightgrey;
}

.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
