@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

$cell-size: 9px;
$cell-border: 1px;
$color-cell-alive: rgb(60,196,124);
$color-cell-dead: rgb(30,57,42);
$color-cell-border: rgb(0,0,0);
$color-elements: rgb(60,196,124);
$color-outline: rgba(60,196,124,0.5);
$color-text-dark: rgb(30,57,42);
$color-text-light: rgb(60,196,124);
$color-body: rgb(0,0,0);
$font-text: 'Share Tech Mono', monospace;
$font-title: 'Press Start 2P', cursive;

body {
  background-color: $color-body;
}

h1 {
  font-family: $font-title;
  text-align: center;
}

.page-container {
  max-width: 1000px;
  margin: auto;
  text-align: center;
  font-family: $font-text;
  color: $color-text-light;

}

.row {
  display: block;
  margin: auto auto 15px auto;
}

.grid {
  display: inline-block;
}

.grid-row {
  display: table;
  margin: 0;
  padding: 0;
  border-top: $cell-border solid $color-cell-border;
  &:last-of-type {
    border-bottom: $cell-border solid $color-cell-border;
  }
}

.grid-cell {
  display: table-cell;
  min-width: $cell-size;
  max-width: $cell-size;
  height: $cell-size;
  border-left: $cell-border solid $color-cell-border;
  &:last-of-type {
    border-right: $cell-border solid $color-cell-border;
  }
}

.grid-cell-alive {
  background-color: $color-cell-alive;
}
.grid-cell-dead {
  background-color: $color-cell-dead;
}

.control-group {
  display: inline-block;
  text-align: right;
}
@media (min-width: 768px) {
  .control-group {
    width: 50%;
    max-width: 350px;
  }
}
@media (max-width: 768px) {
  .control-group {
    width: 100%;
    text-align: center;
  }
}

.control-group-label {
  display: inline-block;
  width: 55px;
  text-align: left;
}

.button {
  width: 70px;
  height: 25px;
  margin: 10px;
  border: 0;
  border-radius: 2px;
  background-color: $color-elements;
  color: $color-text-dark;
  font: 14px $font-text;
  &:hover {
    cursor: pointer;
  }
  &:active {
    box-shadow: 0 0 5px 5px $color-outline;
  }
  &:focus {
    outline: none;
  }
  &.active {
    box-shadow: 0 0 5px 5px $color-outline;
  }
}

.generation-counter {
  margin: 10px;
}
